%h1 Crear nueva peticion

= form_for @request, :url => { :action => 'create' } do |f|
  = f.text_field :title, :id => 'title'
  = f.text_area :description, :id => 'description'
  = f.submit 'Guardar'


