%h1 Centro de Cálculo de la Facultad de Informática
%h2 Localización
%p El Centro de Cálculo de la Facultad de Informática se encuentra situado en la primera planta junto a la entrada.
%h2 Horario
%p El Centro de Cálculo de la Facultad de Informática tiene un horario de atención al usuario desde las 08:30h hasta las 20:30h de lunes a viernes, permaneciendo los sábados cerrado. En periodos vacacionales tiene un horario especial (consultar).
%h2 Funciones
%p El Centro de Cálculo es la unidad de la Facultad de Informática que se encarga del mantenimiento de los sistemas informáticos que se encuentran en los laboratorios de carácter general de la Facultad. Además, dentro de sus competencias, ayuda y asiste en el mantenimientos de ciertos servicios y sistemas informáticos que usan los miembros de la Facultad.
%h2 Contacto
%h3 Buzón Centro de Cálculo
= link_to "ccalculo.inf@listas.um.es"
%h3 Mantenimiento Web
= link_to "webmaster.inf@um.es"


